/***
* Theme Styles for CSS Driven Parallax Example
* @author rlewis37@cnm.edu
***/

/**
* General Theme Styles
**************************************/
header {
	background: url("../img/feed-the-kitty.jpg") no-repeat center;
	background-attachment: fixed;
	background-size: cover;
	min-height: 100vh;
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
}

header .jumbotron {
	background: transparent;
	border-radius: 0 !important;
	color: #fff;
	border: 1px solid rgba(255,255,255,0.5);
}

/***
* Flexbox Sticky Footer
* http://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
***/

/*corrects IE min-height bug*/
html { display: flex;}
body { width: 100%;}

.sfooter {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.sfooter-content {
	flex: 1 0 auto;
}

/**
* Main Navbar Styles
**************************************/
nav.navbar {
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}

.navbar-brand {
	font-family: 'Playfair Display', 'Times New Roman', Times, serif;
}

/**
* Bootstrap Navbar Overrides
**************************************/
.navbar-default {
	background-color: white;
}

.navbar-inverse .navbar-brand {
	color: #fff;
}

.navbar-inverse .navbar-nav>li>a {
	color: #fff;
}

.navbar-inverse .navbar-brand:focus,
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-nav>li>a:focus,
.navbar-inverse .navbar-nav>li>a:hover {
	color: gold;
}

/* embiggen nav on md and lg screens only*/
@media only screen and (min-width: 992px) {
	nav.navbar.navbar-inverse {
		padding: 40px 0;
	}

	nav.navbar.navbar-default {
		padding: 10px 0;
	}

	.navbar-inverse {
		background-color: transparent;
		border-bottom: 1px solid rgba(255,255,255,0.2);
	}

	.navbar-brand {
		font-size: 3rem;
	}
}

/**
* Content Section Styles
**************************************/
section {
	padding: 4rem 0;
}

section#skills {
	background: url("../img/tile.png") repeat;
	color: #fff;
}

section#contact {
	background-color: gold;
}

/**
* Footer Styles
**************************************/
footer {
	background-color: #000;
	color: #999;
	padding: 3rem 0;
}